h1{
    color: rgb(96, 84, 204);
    text-align: center;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    background-image: url('./imagens/imagem.jpg'); /* Substitua pelo caminho da sua imagem */
    background-size: 70%;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}

.navbar {
    background-color: #c5c5c5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 20px;
    position: relative;
}

.navbar .nav-links {
    list-style: none;
    display: flex;
}

.navbar .nav-links li {
    margin-left: 20px;
}

.navbar .nav-links li a {
    color: rgb(5, 4, 4);
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
}

.navbar .nav-links li a:hover {
    color: #ff6347; 
}
